 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	MARGIN: 20px 0px
}
H2 {
	MARGIN: 20px 0px
}
H3 {
	MARGIN: 20px 0px
}
H4 {
	MARGIN: 20px 0px
}
H5 {
	MARGIN: 20px 0px
}
H6 {
	MARGIN: 20px 0px
}
P {
	MARGIN: 20px 0px
}
PRE {
	MARGIN: 20px 0px
}
BLOCKQUOTE {
	MARGIN: 20px 0px
}
FORM {
	MARGIN: 20px 0px
}
LABEL {
	MARGIN: 20px 0px
}
DL {
	MARGIN: 20px 0px
}
FIELDSET {
	MARGIN: 20px 0px
}
ADDRESS {
	MARGIN: 20px 0px
}
DD {
	MARGIN-LEFT: 40px
}
BLOCKQUOTE {
	MARGIN-LEFT: 40px
}
FIELDSET {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
HTML {
	PADDING-BOTTOM: 10px
}
BODY {
	FONT-SIZE: 12px; MARGIN: auto; WIDTH: 640px; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 100%; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #0000ff
}
A:hover {
	COLOR: #0000ff
}
A:visited {
	COLOR: #0000ff
}
A:active {
	COLOR: #0000ff
}
PRE {
	BORDER-RIGHT: #808080 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #808080 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #808080 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #808080 1px solid; BACKGROUND-COLOR: #e8e8e8
}
H1 {
	FONT-SIZE: 24px; TEXT-ALIGN: left
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
P {
	MARGIN: 20px 0px
}
UL {
	LIST-STYLE-POSITION: inside; MARGIN: 10px 0px 20px 10px
}
OL {
	LIST-STYLE-POSITION: inside; LIST-STYLE-TYPE: lower-alpha
}
LI {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.index {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.l1 {
	PADDING-LEFT: 20px; LIST-STYLE-POSITION: inside; LIST-STYLE-TYPE: square
}
.l2 {
	PADDING-LEFT: 40px; LIST-STYLE-POSITION: inside; LIST-STYLE-TYPE: square
}
.l3 {
	PADDING-LEFT: 60px; LIST-STYLE-POSITION: inside; LIST-STYLE-TYPE: square
}
.main {
	BORDER-RIGHT: #5a5a5a 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #5a5a5a 1px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; BORDER-LEFT: #5a5a5a 1px solid; BORDER-BOTTOM: #5a5a5a 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: justify
}
.pre_title {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.p {
	PADDING-TOP: 20px
}
.p_title {
	PADDING-BOTTOM: 5px
}
.top {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 15px; COLOR: #ffffff; PADDING-TOP: 15px; BACKGROUND-COLOR: #0066b9; TEXT-ALIGN: center
}
