.title {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #000080; FONT-FAMILY: Verdana, Arial
}
.s {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial
}
.n {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial
}
.n2 {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana, Arial
}
.l {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
.h {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #535353; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #c0c8af
}
.t1 {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #f8f8f0
}
.t2 {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #d8d8d0
}
